# Python
__pycache__/
*.pyc

# Env
.env

# Data
data/

# OS
.DS_Store
Thumbs.db

# Frontend build artifacts
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

README.pdf
roadmap.md
roadmap.pdf
